body {
  background-color: white;
}

.header {
height: 100px;
width: 100%;
}

table {
  width: 100%;
  margin-bottom: 5px;
  padding: 20px;
}

.h1 {
  margin: 20px;
}

.event-list-container {
  padding: 30px;
}

.update-button {
  margin: 10px 30px;
  height: 80%;
  width: 120px;
}