<h2 mat-dialog-title>{{isNew ? 'Create' : 'Edit'}} Event</h2>
<div mat-dialog-content class="dialog">
  <form [formGroup]="form" (ngSubmit)="update()">
    <div class="row">
      <mat-form-field class="col my-2">
        <mat-label>Choose a start date</mat-label>
        <input matInput formControlName="startDate" [matDatepicker]="startPicker" required>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field class="col my-2">
        <mat-label>Choose a end date</mat-label>
        <input matInput formControlName="endDate" [matDatepicker]="endPicker" required>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>
    
    <mat-form-field class="col-12 mt-2">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required/>
    </mat-form-field>
    
    <mat-form-field class="col-12 mt-2">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="4" required></textarea>
    </mat-form-field>
    
    <mat-form-field class="col-12 mt-2" *ngIf="allArtists">
      <p class="h5 mb-2">Artists</p>
      <mat-select [(value)]="selectedArtists" multiple="true">
        <mat-option *ngFor="let artist of allArtists" [value]="artist">{{artist.id}}. {{artist.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-12 mt-2" *ngIf="allStuff">
      <p class="h5 mb-2">Stuff</p>
      <mat-select [(value)]="selectedStuff" multiple="true">
        <mat-option *ngFor="let stuff of allStuff" [value]="stuff">{{stuff.id}}. {{stuff.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-12 mt-2" *ngIf="allVenues">
      <p class="h5 mb-2">Venue</p>
      <mat-select [(value)]="selectedVenue" multiple="false">
        <mat-option *ngFor="let venue of allVenues" [value]="venue">{{venue.id}}. {{venue.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Select attachments (photos)</label>
      <div class="d-flex flex-row">
        <input class="form-control" type="file" id="formFileMultiple" accept="image/*" (change)="onFileChange($event)" multiple>
      </div>
    </div>

    <p class="h5 mb-2">Attachments</p>
    <div class="d-flex align-items-center" *ngFor="let attachment of form.value.attachments; let i = index">
      <a class="btn mr-3" (click)="openPhoto(attachment.image, attachment.fileName)">
        {{i+1}}. {{attachment.fileName}}
      </a>
      <a class="btn" (click)="deleteAttachment(attachment)"><mat-icon>delete</mat-icon></a>
    </div>

    <div mat-dialog-actions class="leave-buttons">
      <button mat-button class="btn mr-3" (click)="close()">Cancel</button>
      <button mat-flat-button class="btn" type="submit">Submit</button>
    </div>
  </form>
</div>