<div class="background">  
  <div *ngIf="events" class="events">
    <div class="events-header">
      <span class="events-header-text">
        Upcoming events
      </span>
    </div>
    <div class="events-list">
      <div class="container">
        <div class="row" *ngFor="let event of events; let i = index">
          <ng-container *ngIf="event">
            <div class="event-card">
              <img src="assets/eventsPhotos/event{{i}}.jpg" class="event-image" alt="Event Photo 1">
              <div class="description-container d-flex flex-column mx-2">
                <p class="h6">{{ event.name }}</p>{{i}}
                <p class="h6 description-date">{{ event.startDate | date: 'dd/MM/yyyy' }} - {{event.endDate | date: 'dd/MM/yyyy' }}</p>
                <p class="description">{{ event.description }}</p>
                <div class="event-description">
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>